node_modules
.next
.github
.data
coverage
.prettierignore
.stylelintignore
.eslintignore
stories
storybook-static
*.log
playwright-report
.nyc_output
test-results
junit.xml
docs
package-lock.json
yarn.lock
pnpm-lock.yaml
dist
